.container { 
    border: 1px solid blueviolet ; 
    border-radius: 8px ; 
    background-color: rgb ( 250 , 233 , 255 ) ;
     } 
    .container img { 
    width: 250px ; 
    height: 200px ; 
    padding: 10px ; 
    }
    .btn {
    width: 100% ; 
    padding: 10px ; 
    color: white ; 
    font-size: medium ; 
    font-weight: 700 ; 
    background-color: rgb ( 185 , 103 , 206 );
    }